<h1 align="center" style="margin-bottom:0pt">Help with searching</h1>
<hr>
<table style="width:100%">
<tr>
<td style="width:50%;text-align:center;vertical-align:top"><a href="/assets/ss1.png" target="_blank">Find all passive forms of the verb ἀφαιρέω</a></td>
<td style="width:50%;text-align:center;vertical-align:top"><a href="/assets/ss2.png" target="_blank">Find all verbs with the prefix εἰσ-</a></td>
</tr>
<tr>
<td style="width:50%;text-align:center;vertical-align:top"><a href="/assets/ss1.png" target="_blank"><img style="max-width:100%" src="/assets/ss1.png"></a></td>
<td style="width:50%;text-align:center;vertical-align:top"><a href="/assets/ss2.png" target="_blank"><img style="max-width:100%" src="/assets/ss2.png"></a></td>
</tr>
<tr>
<td style="width:50%;text-align:center;vertical-align:top"><a href="/assets/ss3.png" target="_blank">Find all occurences of the form με from the 10th and 11th centuries</a></td>
<td style="width:50%;text-align:center;vertical-align:top"><a href="/assets/ss4.png" target="_blank">Find all accusative objects in the <i>Iliad</i></a></td>
</tr>
<tr>
<td style="width:50%;text-align:center;vertical-align:top"><a href="/assets/ss3.png" target="_blank"><img style="max-width:100%" src="/assets/ss3.png"></a></td>
<td style="width:50%;text-align:center;vertical-align:top"><a href="/assets/ss4.png" target="_blank"><img style="max-width:100%" src="/assets/ss4.png"></a></td>
</tr>
</table>
<hr>
<p>More help is available from the instructional videos on the <a href="https://www.ulster.ac.uk/faculties/arts-humanities-and-social-sciences/communication-and-media/research/investigating-variation-and-change/videos" target="_blank">Case in Diachrony website</a></p>